
<div class="demo-card-wide mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Login</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form action="#" id="dayo">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="Username">
            <label class="mdl-textfield__label" for="sample3">Username</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password">
            <label class="mdl-textfield__label" for="sample3">Password</label>
          </div>
        </form>
    </div>
    <div class="mdl-card__actions">
        <button routerLink="/main/dashboard" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">
          Login
        </button>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        &nbsp;
      <a href="">
        Forgot Password ?
      </a>
      &nbsp;
      <a routerLink="/auth/register">
          Register
        </a>
    </div>
  </div>
